//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";






/******** MARKETING PAGE ********/
.packyakNavContainer{
	background-color: #008749;
	height: 50px; 
	.packyakBrand, .navbar-nav>li>a {
		color: #FFFFFF;
	}
	.packyakRegister{
		padding-right: 15px;
	}
}

/******** DASHBOARD PAGE ********/
.packYakItemFeedRow:hover{
	background-color: #ECF0F5;
	color: #333;
}
.panel{
	.itemOptionButtons{
	  	list-style-type: none;
	  	margin-bottom: 0px;
	  	li{
	  		display: inline-block;
	  	}
	}
}


/*Change, add to order, and cancel icon button styling*/
.fa-check-circle-o{
	color: #00A65A;
}

.fa-times-circle{
	color: #DD4B39;
}

.fa-chevron-circle-down{
	color: #3C8DBC;
}

.updateSuccess{
	background-color: #00A65A;
	color: #FFFFFF; 
}

.updateFailure{
	background-color: #DD4C3A;
	color: #FFFFFF; 
}

.packyakInventoryTextInput{
	max-width: 70px;
}

/******** PURCHASE ORDER ********/
.singleVariationWrapper{
	border-top: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;  
	padding-top: 15px;
	padding-bottom: 15px;

	.packyakRemoveVariation{
		color: #DD4B39;
	}

	.addNewItemVariation{
		color: #00A65A;
	}

	.input-group-btn{
		padding-right: 15px;
	}

	.createNewItemSKUWrapper{
		padding-right: 0px;
	}
}

/******** AUTO COMPLETE SEARCH STYLES********/
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
 
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

/******** SINGLE VENDOR DISPLAY ********/
.infoWrapper{
	height: 300px;
	background-color: grey;

	.vendorLogo{
		height: 100px;
		background-color:red;
	}

}

.itemsWrapper{
	height: 300px;
	background-color: black;
}
