//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/******** MARKETING PAGE ********/
.packyakNavContainer{
	background-color: #008749;
	height: 50px; 
	.packyakBrand, .navbar-nav>li>a {
		color: #FFFFFF;
	}
	.packyakRegister{
		padding-right: 15px;
	}
}
